<div class="container abtSection">

    <!-- ==========about the webapp generally and the Home page=========== -->


    <div class="card">
        <div Class="card-body">
            <div class="card-text">
                <div class="row align-items-center aboutContent1">
                    <div class="col-lg-8">
                        <p>Git-Search (GitHub Search) is a website that enables the search of GitHub users and their repositories.
                        </p>
                        <p>To get the full experience of the page, follow the following steps:</p>
                        <p>Click on the buttons on the navigation bar.</p>
                        <p>The Search-User navigates to the home page where you can view the webpage developer's github profile and also get to search other GitHub User Profiles and Repository. </p>
                        <p>The Search-Repo button navigates to the home page where you can get the preview of All GitHub Repositories.
                        </p>
                    </div>

                    <div class="col-lg-4 aboutImage1">
                        <!-- insert screenshot of ghSerch Home page here -->
                        <img src="./assets/github.png" alt="ghSearch Home">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ==========about About=========== -->

    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <div class="row align-items-center aboutContent2">
                    <div class="col-lg-4 aboutImage2">
                        <!-- insert screenshot of ghSearch About page here -->
                        <img src="./assets/github.png" alt="ghSearch Explore">
                    </div>

                    <div class="col-lg-8">
                        <p>The About button navigates to this page which gives more information about this webapp</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- ==========about Explore/Search=========== -->


    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <div class="row align-items-center aboutContent3">
                    <div class="col-lg-8">
                        <p>The Home button navigates to the very begining. </p>
                    </div>

                    <div class="col-lg-4 aboutImage3">
                        <!-- insert screenshot of ghSearch Explore/Search page here -->
                        <img src="./assets/github.png" alt="ghSearch Explore">
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
