footer {
    right: 0;
    bottom: -1;
    left: 0;
    padding: 1rem;
    text-align: center;
    align-items: center;
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/*Shrinking for mobile*/

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
}