<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">GitSearch </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse show" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="/home"><span class="material-icons">
            home
          </span> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact-list">Search by User<span class="material-icons">
            person
          </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact-create">Search by Repository <span class="material-icons">
            folder_special
          </span></a>
            </li>

        </ul>
    </div>
</nav>