.nav-item {
    padding: 2px;
    margin-left: 7px;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: aqua;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: darkslategray;
}

.active {
    background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}