<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <aside>
        <h3>About</h3>
        <a class="navbar-brand" routerLink="/about"><b>GitSearch </b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </aside>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="/user-profile"><span class="material-icons">
            home
          </span> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user-profile">Search by User<span class="material-icons">
            person
          </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user-Repo">Search by Repository <span class="material-icons">
            folder_special
          </span></a>
            </li>

        </ul>
    </div>


</nav>