.gitRepos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.repo {
    background-color: thistle;
    color: black;
    margin-bottom: 2%;
    border-radius: 4px;
}

.description {
    min-height: 90px;
}

.top {
    font-weight: 500;
}

.btn-group {
    margin-left: 14px;
}

#visit a {
    text-decoration: none;
    color: darkturquoise;
}

.form-control::placeholder {
    color: whitesmoke;
}