<div class="conatiner-fluid">
    <!--    -->
    <div class="overlay">
        <app-search-form (searchOutput)="search($event)"></app-search-form>
        <div class="container content">
            <div class="row">
                <div class="col-sm-4" id="imgcard">
                    <div class="userpicture">
                        <div class="card-img-top">
                            <img src="{{user.avatar_url}}" alt="user profile picture">
                        </div>
                        <div class="card-body">
                            <span class="name"> {{user.login}}</span><a href="{{user.html_url}}"><button
                  class="btn-outline-success btn btn-sm"></button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 user">
                    <div class="card" appHighlight>
                        <Div class="crad-body">
                            <h4> GitSearch: {{user.login}}</h4>
                            <hr class="hr-light mb-3 mt-4" />
                            <p>Repository: &nbsp;<span class="follow"> {{user.public_repos}} </span></p>
                            <hr class="hr-light mb-3 mt-4" />
                            <p>Following: &nbsp;<span class="follow"> {{user.following}} </span></p>
                            <hr class="hr-light mb-3 mt-4" />
                            <p>Followers: &nbsp;<span class="follow"> {{user.followers}} </span></p>
                            <hr class="hr-light mb-3 mt-4" />
                            <p>Joined: &nbsp;<span class="follow"> {{user.created_at|date}} </span></p>
                            <hr class="hr-light mb-3 mt-4" />
                        </Div>
                    </div>
                </div>
            </div>
        </div>
        <div id="click" class="text-center">
            <a href="#reps"><img src=""></a>
        </div>
        <div class="text-center repo" id="reps">
            <h2>Repositories</h2>
        </div>
        <div class="container repos">
            <div class="card" appHighlight *ngFor="let Repo of repo" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title"> Repository Name: &nbsp;{{repo.name}}</h5>
                    <div class="card-text">
                        <hr class="hr-light mb-3 mt-4" />
                        <div class="description"> Description: &nbsp;{{repo.description}}</div>
                        <hr class="hr-light mb-3 mt-4" />
                        <div class="card-subtitle mb-2">
                            <span class="top"> Language: </span>{{repo.languages}}</div>
                        <div class="card-subtitle mb-2"> <span class="top"> Created On: </span> &nbsp; {{repo.created_at|date}}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class=" btn-group" role="group" aria-label="Third group">
                        <button class="btn btn-sm btn-outline-info"> {{repo.forks}}</button>
                    </div>
                    <div class=" btn-group" role="group" aria-label="Third group">
                        <button class="btn btn-sm btn-outline-secondary"> {{repo.stars}}</button>
                    </div>
                    <div class=" btn-group" role="group" aria-label="Third group">
                        <button class="btn btn-sm btn-outline-success" id="vist"><a href=" {{repo.html_url}}" class="card-link">
                Visit</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>