<div class="conatiner-fluid" style="margin-top: 1in;">
    <ng-progress></ng-progress>
    <div class="overlay">
        <!--app-search-form (searchOutput)="search($event)"></app-search-form-->
        <div class="container content">
            <div class="row">
                <div class="col-sm-4" id="imgcard">
                    <div class="userimg">
                        <div class="card-img-top">
                            <img src="{{user.avatar_url}}" alt="user profile picture">
                        </div>
                        <div class="card-body">
                            <span class="name" style="color: aqua; font-size: 20px;"> <span class="material-icons">
                  account_circle
                </span> &nbsp;{{user.login}}</span> &nbsp; <a href="#"><button class="btn-outline-success btn btn-sm">
                  <span id="profile" style="color: blanchedalmond ;"> GitHub</span> </button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 user">
                    <div class="card" style="background-color: teal;">
                        <div class="card-body">
                            <h4> GitSearch: &nbsp; {{user.login}}</h4>
                            <hr class="hr-light mb-3 mt-2">
                            <p>
                                <a href="#git-search:" style="font-size: larger; text-decoration: underline;"> <span class="material-icons">
                    touch_app
                  </span>Repositories</a> &nbsp;<span class=" follow ">
                  {{user.public_repos}}</span></p>
                            <hr class="hr-light mb-3 mt-2 ">
                            <p>Following: &nbsp;<span class="follow "> {{user.following}} </span></p>
                            <hr class="hr-light ">
                            <p>Followers: &nbsp;<span class="follow "> {{user.followers}} </span></p>
                            <hr class="hr-light ">
                            <p>Joined: &nbsp;<span class="datejoined "> {{user.created_at|date}} </span></p>
                            <hr class="hr-light mb-3 mt-2 ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="click " class="text-center ">
            <app-footer></app-footer>
        </div>
    </div>
</div>