<div class="container" style="margin-top: 1in;">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <form class="form-inline active-lightcyan-4">
                <input class="form-control mr-sm-2 mr-3 w-75" type="search" placeholder="Enter Github Username" [(ngModel)]="searchUser" name="searchUser" aria-label="Search">
                <button class="btn btn-outline-success my-2 btn-sm-0" (click)="search()" type="submit">Search<span
            class="material-icons">
            search
          </span> </button>
            </form>
        </div>
        <div class="col-sm-1"></div>
    </div>

</div>