<div class="con">
    <div class="container-fluid">
        <h1 class="git">Git-Search</h1>

        <app-search-form (issearch)="searchGit($event)" (isrepossearch)="repoSearch($event)"></app-search-form>
        <div class="card text-white bg-transparent mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <img style="width:50%;height:80%" class="card-img-top product-image" src="{{gitUsers.avatar_url}}" alt="User's avatar">
                        <a class="btn btn-outline-danger btn-sm">
                            <h5 class="card-title" style="color:white"><b> Github User Name: {{gitUsers.login}}</b></h5>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h3> <u> User Profile </u></h3>
                        <ul class='list-group' style="color: teal;">
                            <p class="card-text" style="color:cyan;"><b>Bio :&nbsp; {{gitUsers.bio}}</b></p>
                            <p class="card-text" style="color:cyan;"><b>Location :&nbsp; {{gitUsers.location}}</b>
                            </p>
                            <p class="card-text" style="color:cyan;"><b>Repository Numbers :&nbsp;
                  {{gitUsers.public_repos}}</b></p>
                            <p class="card-text" style="color:white;"><b>Followers :&nbsp; {{gitUsers.followers}}</b>
                            </p>
                            <p class="card-text" style="color:white;"><b>Account Created : &nbsp;
                  {{gitUsers.created_at|date|uppercase}}</b></p>

                        </ul>
                    </div>
                </div>
            </div>

            <h2>User Repositories</h2>

            <div *ngIf='repositories'>
                <div class="card-columns">

                    <div appHighlight *ngFor='let repository of repositories'>
                        <div class="card text bg-dark mb-3">
                            <div class="card-header" style="color:gold">{{repository.name}}</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title">Project Description : </h5>
                                        <p>{{repository.description}}</p>
                                        <a href="{{repository.html_url}}" target="_blank" class="btn btn-outline-success btn-sm"> <span style="color: white;"> View Repo
                        on
                        github </span></a>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p>Created : {{repository.created_at|date|uppercase}}</p>
                                    <p>Updated : {{repository.updated_at|date|uppercase}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>