.con {
    background-image: url("../../../assets/imgs/bg_4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.card-columns {
    background-image: url("../../../assets/imgs/dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50% 50%;
    background-attachment: fixed;
    color: black;
}

.git {
    color: brown;
}